.menu-container {
    opacity: 0;
    animation: btnanimate 1s ease-in-out forwards;
    transform: translateY(10px);
}

@keyframes btnanimate {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}