.like {
  font-size: 40px;
  cursor: pointer;
  position: relative;
  
  .fa-heart {
    position: absolute;

  }

}
.like-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  background-image: linear-gradient(#FF79DA , #9356DC );
  transition: opacity  0.5s ease-in-out;


  &:hover, .like-solid {
    opacity: 1;
  }
  }
