.menu-btn {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  h3,
  p {
    margin: 0;
  }

  .prix {
    padding-top: 23px;
  }

}
