.menu-btn {
  overflow: hidden;
  margin: 10px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;

  .title-menu {
    display: block;
    width: 100px;
    flex: 1;
    padding: 10px;
  }
  h3,
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
  }


  .prix {
    display: flex;
    font-weight: 700;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  }
  .menu-btn-check {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 4rem;
    margin: 0rem -4rem 0rem 0rem;
    background-color: $color-tertiaire;
    transition: 1s;
  }
  &:hover .menu-btn-check {
    margin: 0rem 0rem 0rem 0rem;
  }
  .check {
    font-size: 1.5rem;
    color: #fff;
  }

  &:hover .check {
    transition: 1s;
    transform: rotate(360deg);
  }
}
