nav {
  padding: 7px;
  display: flex;
  align-items: center;

  img {
    width: 15rem;
  }
}
.navlogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: flex;
  }
}

.navhome {
  padding: 10px;
  justify-content: center;
}

.navmenu {
  justify-content: center;
  img {
    padding-left: 0%;
  }
  .back {
    color: black;
    font-size: 2rem;
    left: 0;
  }
}
