nav {
  padding: 7px;
  display: flex;
  align-items: center;

  img {
    width: 15rem;
  }
}
.logo {
  font-family: "Shrikhand", cursive;
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navhome {
  padding: 10px;
}

.navmenu {
  justify-content: center;
  img {
    padding-left: 0%;
  }
  .back {
    color: black;
    font-size: 2rem;
    left: 0;
  }
}
