.restaurant-card {
  text-decoration: none;
  padding-bottom: 35px;
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: black;
  }

  .restaurant-img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }


  .restaurant-desc {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;

    .desc-text {
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    .like {
      padding-right: 17%;
    }
  }
}


.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: $color-tertiaire;
  color: darken($color: $color-tertiaire, $amount: 50%);
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;

}