/*  * {
  border: solid 1px red;
} */

.search {
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 20px;

  .location {
    padding-right: 1%;
  }

 input {
  text-align: center;
  font-size: 1rem;
  border: none;
  background-color: #eaeaea;
 }
}

.title {
  padding-left: 20px;
  font-weight: bold;
}

.container {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;

  h2 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
  }
}

.btn {
  text-decoration: none;
  background: linear-gradient($color-secondary, $color-primary);
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:hover {
    box-shadow: rgba(149, 157, 165, 2) 0px 16px 40px;
    
  }
}

.fonctionnement {
  padding-bottom: 30px;
}
.slide {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .btn-slide {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e7e7e7;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    i {
      padding-right: 15px;
    }
    &:hover {
      background-color: #8d72af50;
      i {
        color: $color-primary;
      }
    }
  }
  .btn-slide::before {
    content: attr(value);
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .slide {
    height: 150px;
    justify-content: space-around;
    flex-direction: row;
  }
  .slide .btn-slide {
    margin-left: 20px;
    width: 18rem;
  }
}

.restaurants {
  padding-top: 15px;
  background-color: #f7f7f7;
  height: 100%;
  padding-bottom: 10%;

  .restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .restaurants {
    .restaurant {
      flex-direction: row;
      flex-wrap: wrap;
      .restaurant-card {
        margin: 3%;
        width: 40%;
      }
    }
  }
}
