.menu-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
}

.menu {
  position: relative;
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  margin-top: -80px;
  h2 {
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-left: 10px;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 10px;
      width: 50%;
      height: 3px;
      background-color: $color-tertiaire;
    }
  }

  .menu-list {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 20px;
      padding-right: 15px;
    }

    h1 {
      font-family: "Shrikhand", cursive;
    }

    .like {
      padding-right: 4rem;
      padding-bottom: 2rem;
    }
  }

  .menu-box {
    .menu-container {
      @include cascade-delay;
      animation: fadeIn 0.5s both;
    }
  }

  .order {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .btn-order {
    text-decoration: none;
    background: linear-gradient($color-secondary, $color-primary);
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    padding: 15px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    &:hover {
      box-shadow: rgba(149, 157, 165, 2) 0px 16px 40px;
      
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-list {
    h1 {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu-container {
    font-size: 15px;
    padding-left: 10px;
    width: 100%;
  }

  .menu {
    height: 100vh;
  }
}
