body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  position: relative;
  height: 100%;
}

/* components */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.like {
  font-size: 40px;
  cursor: pointer;
  position: relative;
}
.like .fa-heart {
  position: absolute;
}

.like-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 0.5s ease-in-out;
}
.like-solid:hover, .like-solid .like-solid {
  opacity: 1;
}

.restaurant-card {
  text-decoration: none;
  padding-bottom: 35px;
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.restaurant-card a {
  text-decoration: none;
  color: black;
}
.restaurant-card .restaurant-img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant-card .restaurant-desc {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  justify-content: space-between;
}
.restaurant-card .restaurant-desc .desc-text h3 {
  padding: 0;
  margin: 0;
}
.restaurant-card .restaurant-desc .like {
  padding-right: 17%;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
}

nav {
  padding: 7px;
  display: flex;
  align-items: center;
}
nav img {
  width: 15rem;
}

.logo {
  font-family: "Shrikhand", cursive;
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navhome {
  padding: 10px;
}

.navmenu {
  justify-content: center;
}
.navmenu img {
  padding-left: 0%;
}
.navmenu .back {
  color: black;
  font-size: 2rem;
  left: 0;
}

footer {
  position: relative;
  z-index: 2;
  bottom: 0;
  padding-bottom: 26px;
  background-color: #353535;
}
footer .footer-logo {
  left: 0;
  top: 0;
  padding: 10px;
  padding-left: 20px;
  width: 20%;
  filter: invert(100%) sepia(8%) saturate(4%) hue-rotate(237deg) brightness(99%) contrast(104%);
}
footer ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: none;
}
footer li {
  padding-bottom: 5px;
}
footer li i {
  width: 20px;
  padding-right: 5px;
}
footer a {
  text-decoration: none;
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    padding-top: 10px;
  }
  footer ul {
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
}
.menu-btn {
  overflow: hidden;
  margin: 10px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}
.menu-btn .title-menu {
  display: block;
  width: 100px;
  flex: 1;
  padding: 10px;
}
.menu-btn h3,
.menu-btn p {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
}
.menu-btn .prix {
  display: flex;
  font-weight: 700;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}
.menu-btn .menu-btn-check {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 4rem;
  margin: 0rem -4rem 0rem 0rem;
  background-color: #99E2D0;
  transition: 1s;
}
.menu-btn:hover .menu-btn-check {
  margin: 0rem 0rem 0rem 0rem;
}
.menu-btn .check {
  font-size: 1.5rem;
  color: #fff;
}
.menu-btn:hover .check {
  transition: 1s;
  transform: rotate(360deg);
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  pointer-events: none;
  animation: 0.2s linear 2s loading;
  animation-fill-mode: forwards; /* empecher la boucle */
}

@keyframes loading {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9356DC;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  background-color: #FF79DA;
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  background-color: #99E2D0;
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  background-color: #9356DC;
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  background-color: #FF79DA;
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* Pages */
/*  * {
  border: solid 1px red;
} */
.search {
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 20px;
}
.search .location {
  padding-right: 1%;
}
.search input {
  text-align: center;
  font-size: 1rem;
  border: none;
  background-color: #eaeaea;
}

.title {
  padding-left: 20px;
  font-weight: bold;
}

.container {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.container h2 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
.container p {
  font-size: 18px;
  text-align: center;
  margin: 10px;
}

.btn {
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn:hover {
  box-shadow: rgb(149, 157, 165) 0px 16px 40px;
}

.fonctionnement {
  padding-bottom: 30px;
}

.slide {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.slide .btn-slide {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e7e7e7;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.slide .btn-slide i {
  padding-right: 15px;
}
.slide .btn-slide:hover {
  background-color: rgba(141, 114, 175, 0.3137254902);
}
.slide .btn-slide:hover i {
  color: #9356DC;
}
.slide .btn-slide::before {
  content: attr(value);
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .slide {
    height: 150px;
    justify-content: space-around;
    flex-direction: row;
  }
  .slide .btn-slide {
    margin-left: 20px;
    width: 18rem;
  }
}
.restaurants {
  padding-top: 15px;
  background-color: #f7f7f7;
  height: 100%;
  padding-bottom: 10%;
}
.restaurants .restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .restaurants .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .restaurant .restaurant-card {
    margin: 3%;
    width: 40%;
  }
}
.menu-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  position: relative;
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  margin-top: -80px;
}
.menu h2 {
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.menu h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 50%;
  height: 3px;
  background-color: #99E2D0;
}
.menu .menu-list {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .menu-list img {
  width: 20px;
  padding-right: 15px;
}
.menu .menu-list h1 {
  font-family: "Shrikhand", cursive;
}
.menu .menu-list .like {
  padding-right: 4rem;
  padding-bottom: 2rem;
}
.menu .menu-box .menu-container {
  animation: fadeIn 0.5s both;
}
.menu .menu-box .menu-container:nth-child(1) {
  animation-delay: 500ms;
}
.menu .menu-box .menu-container:nth-child(2) {
  animation-delay: 1000ms;
}
.menu .menu-box .menu-container:nth-child(3) {
  animation-delay: 1500ms;
}
.menu .menu-box .menu-container:nth-child(4) {
  animation-delay: 2000ms;
}
.menu .order {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.menu .btn-order {
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 15px 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menu .btn-order:hover {
  box-shadow: rgb(149, 157, 165) 0px 16px 40px;
}

@media screen and (min-width: 768px) {
  .menu-list h1 {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu-container {
    font-size: 15px;
    padding-left: 10px;
    width: 100%;
  }
  .menu {
    height: 100vh;
  }
}

/*# sourceMappingURL=index.css.map */
